.booking {
    background-color: midnightblue;
    color: white;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 2rem;
    max-height: 45rem;
    width: 40%;
}

.booking__head-title {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.booking__content {
    text-align: left;
}

.booking__title {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}

.booking__bold {
    font-weight: bold;
}
