.main__left {
    width: 48%;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
}

.form__group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

}

.form__label {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: start;
    margin-bottom: 1rem;
}

.form__control {
    display: block;
    outline: none;
    padding: 1rem .5rem;
    border: 1px solid transparent;
    transition: 1s;
}

.form__control:focus {
    border: 1px solid midnightblue;
}
.form__textarea {
    display: block;
    outline: none;
    border: 1px solid transparent;
    padding: 1rem .5rem;
    transition: 1s;
    max-width: 100%;
    min-width: 100%;
}

.form__textarea:focus {
    border: 1px solid midnightblue;
}

.form__checkbox {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

}

.form__checkbox-control {
    margin-right: 1rem;
}

.form__btn {
    display: inline-block;
    background-color: midnightblue;
    outline: none;
    vertical-align: center;
    border: none;
    padding: 1rem 0;
    color: #ffffff;
    font-weight: bold;
    transition: 1s;
}

.form__btn:hover, .form__btn:active {
    background-color: #1c1cac;
}

@media screen and (max-width: 700px) {
    .main__left {
        width: 100%;
    }
}

